body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #808080;
}
nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: #333;
}
main {
    padding: 20px;
}
section {
    display: none;
}
section.active {
    display: block;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-container input, .form-container select, .form-container textarea, .form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #808080;
    color: white;
    border: none;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #555;
}
.calendar-body ul {
    list-style-type: none;
    padding: 0;
}
.calendar-body li {
    margin-bottom: 10px;
}
.appointment {
    font-weight: bold;
}
.button1 {
    background-color: #555;
    text-decoration: none;
    border: none
}
.text {
    padding-left: 700px;
}
.strong{
    position: relative;
    font-size: 23px;
    text-decoration: underline;
}
.link {
    text-decoration: none;
    color: rgb(106, 211, 243);
}
.link:hover {
    background-color: #555;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
a {
    transition: color 0.3s ease;
}